{% extends 'index.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <form method="post" action="{% url 'curhats:create' %}">
                <h3>Hi {{ request.user.first_name }} {{ request.user.last_name }}</h3>
                <div class="col-sm-5">
                    {% csrf_token %}
                    {{ post_form.body }}              
                </div>
            <input type="submit" class="btn btn-default" value="Post"/>
        </form> 
        </div>
        <br/>
        {% load endless %}
        {% lazy_paginate post_data %}
        {% for post in post_data %}
        <div class="media">
            <div class="media-left">
                <img src="/static/avatar.png" class="media-object" style="width:45px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ post.author.first_name }} {{ post.author.last_name }} <small><i>{{ post.date }}</i></small></h4>
                <p>
                    {{ post.body }}
                </p>
                {% for key, value in comments_count %}
                    {% if key == post.id %}
                <a id="{{ post.id }}">Hide Comments</a> <span class="badge">{{ value }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<a id="{{ post.id }}like">Likes</a> <span id="{{ post.id }}likespan" class="badge">{{ post.likes }}</span><br/>
                    {% endif %}
                {% endfor %}
                <br/>
                <form action="{% url 'curhats:post_comment' post.id %}" method="post" id="{{ post.id }}frmComment">
                    {% csrf_token %}
                    {{ comment_form.body }}
                </form>
                <br/>
                <div id="{{ post.id }}tray">
                    {% block comment %}
                    {% for comment in comments %}
                        {% if comment.post_id_id == post.id %}
                        <div class="media">
                            <div class="media-left">
                                <img src="/static/avatar.png" class="media-object" style="width:45px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ comment.author.first_name }} {{ comment.author.last_name }} <small><i>{{ comment.date }}</i></small></h4>
                                <p>
                                    {{ comment.body }}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% show_more %}
        <script type="text/javascript">
            var post = [
                {% for post in post_data %}
                    [{{post.id}}],
                {% endfor %}
            ];

            $.each(post, function(i){
                $('#'+post[i]).click(function(){
                    if ($('#'+post[i]+'tray').is(':visible')) {
                        $('#'+post[i]).text('Show Comments');
                    } 
                    if ($('#'+post[i]+'tray').is(':hidden')){000
                        $('#'+post[i]).text('Hide Comments');
                    }
                    $('#'+post[i]+'tray').slideToggle(1000);
                });
            });

            $.each(post, function(i){
                $('#'+post[i]+'like').click(function(event){
                    var post_id = post[i];
                    console.log(post_id);
                    $.ajax({
                        type:'POST',
                        url: "{% url 'curhats:like_post' %}",
                        data: {
                            'post_id[]': post_id,
                        },
                        success: function(data) {
                            if (data.is_updated) {
                                $('#'+post[i]+'likespan').text(data.result_like);
                            } else {
                                alert('ooopp.. something went wrong')
                            }
                        }
                    });
                });
            });

            function getCookie(name) {
                var cookieValue = null;
                var i = 0;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (i; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });     
                
    </script>
    </div>
{% endblock %}