{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/static/people.png">
        <title>Curhatpedia</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="/static/styles.css" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class = 'container'>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Curhatpedia</a>
                </div>    
                <form class="navbar-form navbar-right" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form }}
                    <button type="submit" name="btnLogin">Login</button>
                </form>            
            </div>
        </nav>
        <div class="container-fluid row">
            <div class="col-lg-6">
                <h1>Create a new account</h1>
                It's free and always will be<br/><br/>
                <form class="form-horizontal" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ regis_form.as_p }}
                    <input type="submit" value="Create Account" />                    
                </form>
            </div>
            <div class="col-lg-6">
                <br/>
                <h3>Welcome to <b>Curhatpedia</b></h3>
                <p>Share your stories here</p>
            </div>            
        </div>
    </body><br/>
    <footer>
        <div class="footer navbar-bottom text-center bg-info">
            <b>2018 Open Source: Curhatpedia by Tio_95</b>
        </div>  
    </footer>
</html>